---
import Layout from '@/layouts/ResumeLayout.astro';
import Section from "@/components/Section.astro";

import { getCollection, getEntry } from 'astro:content';

function monthsBetween(startDate, endDate) {
    return (endDate.getFullYear() - startDate.getFullYear()) * 12 + (endDate.getMonth() - startDate.getMonth());
}
function mergeByTitle(array) {
    return Object.values(
        array.reduce((result, item) => {
            // If we've seen this title before, add to its count
            if (result.find(entry => entry.skill === item.skill)) {
                result.find(entry => entry.skill === item.skill).years += item.years;
            } else {
                // Otherwise create a new entry (using a new object to avoid modifying the original)
                result.push({ ...item });
            }
            return result;
        }, [])
    ).sort((a,b) => a.skill.localeCompare(b.skill));
}

const skillCategories = [
    {
        title: "Front End",
        skills: "javascript,typescript,react,astro",
    },
    {
        title: "Server Side",
        skills: "springboot,java,kotlin,apis,low-latency,micro-services,j2ee,restful",
    },
    {
        title: "Messaging",
        skills: "jms,tibco,kafka",
    },
    {
        title: "Databases",
        skills: "postgres,neo4j,oracle,azure sql",
    },
    {
        title: "Testing",
        skills: "playwright",
    },
    {
        title: "Cloud/DevOps",
        skills: "kubernetes,k8,aks,oracle cloud,aws,docker,ci/cd,azure",
    },
]

const resume = await getEntry('resumes', 'roybailey')
const employmentHistory = await getCollection('employmentHistory');
employmentHistory.sort((a, b) => new Date(b.data.startDate).getTime() - new Date(a.data.startDate).getTime());
employmentHistory.forEach(job => {
    job.data.roles?.sort((a, b) => new Date(b.startDate).getTime() - new Date(a.startDate).getTime())
})
console.log("SKILLS")
interface Skills {
    skill: string,
    category: string,
    years: number,
    months: number,
}
const skills: Skills[] = []
employmentHistory?.forEach((job)=> {
    let jobDuration = monthsBetween(new Date(job.data.startDate), job.data.endDate? new Date(job.data.endDate) : new Date())
    job.data.skills?.split(',')
        .map(skill=> skill.trim())
        .forEach(skill => {
            let category = skillCategories.filter(category => {
                let categorySkills = category.skills?.split(',').map(categorySkill => categorySkill.trim().toLowerCase())
                //console.log(`${skill}=${JSON.stringify(categorySkills)}`);
                let match = categorySkills.indexOf(skill.toLowerCase()) >= 0
                return match
            });
            skills.push({skill: skill, category: category[0]?.title, years: 0, months: jobDuration})
        })
})
let skillSummary = mergeByTitle(skills);
skillSummary.forEach(skill => {
    let years = Math.trunc(skill.months / 12)
    let months = skill.months - (years*12)
    //console.log(JSON.stringify(skill)+`  ${years}yr ${months}m  ` );
    skill.years = years
    skill.months = months
    skill.category = (skill.category) ? skill.category : 'other'
    console.log(JSON.stringify(skill))
})
---

<Layout>

    <Section title={resume.data.tagline}>
    <div class="text-2xl">{resume.data.summary}</div>
    </Section>

    <Section title="Engineering Leadership">
        {resume.data.leadership.map((entry, index) => (
            <div class="flex flex-row justify-between">
                <div class="">{entry.title}</div>
                <div class="">{entry.summary}</div>
            </div>
        ))}
    </Section>
    <Section title="Technical Experience">
        {skillCategories.map((category) => (
            <div class="flex flex-row justify-between">
                <div class="">{category.title}</div>
                <div class="flex flex-row gap-1">{
                    skillSummary
                        .filter((skill) => skill.category === category.title)
                        .map((skill) => (
                            <div class="bg-slate-500 px-2 my-1 rounded text-background dark:text-background dark:bg-foreground">{skill.skill}</div>
                        ))
                }
                </div>
            </div>
        ))}
    </Section>
    <Section title="Financial Services Experience">
        {resume.data.business.map((entry, index) => (
                <div class="flex flex-row justify-between">
                    <div class="">{entry.title}</div>
                    <div class="">{entry.summary}</div>
                </div>
        ))}
    </Section>
    <div class="break-after-page"></div>
    <Section title="Employment History">
        <ul>
            {employmentHistory.map((job) => (
                <li class=`m-4 shadow py-4 flex flex-col items-center ${job.data.pageBreakBefore? " break-before-page" : ""}  ${job.data.pageBreakAfter? " break-after-page" : ""}` key={job.id}>
                    <h2>{job.data.position} at {job.data.company}</h2>
                    <p>{job.data.startDate} - {job.data.endDate || "Present"}</p>
                    {job.data.summary && (
                        <p>{job.data.summary}</p>
                    )}
                    {job.data.roles && job.data.roles.map((role, index) => (
                        <div class="m-4 shadow py-4 flex flex-col items-center" key={index}>
                            <h2>{role.title}</h2>
                            <p>{role.startDate} - {role.endDate || "Present"}</p>
                            <p>{role.summary}</p>
                        </div>
                    ))}
                </li>
            ))}
        </ul>
    </Section>

    <Section title="UNIVERSITY OF LIFE">
        <div>
            My passion for software coding started at the age of 9. Entering an Apprenticeship straight after high school I was quickly talent spotted and poached by a local independent software house.  My commercial success since then speaks for itself.  In fact, not being able to rely on a Computer Science Degree has given me extra drive to constantly learn and challenge myself, and that diversity has given my employers the benefit of my broader commercial strengths.
        </div>
    </Section>

</Layout>
