---
import { Accordion, AccordionItem } from 'free-astro-components'
// Access passed-in component props, like `<X title="Hello, World" />`
const { employment, roles } = Astro.props;
---

<div class="w-full flex flex-row items-center justify-between">
    <div class="flex-shrink-0">
        <div class=" flex flex-col items-start">
            <h2 class="font-semibold text-xl">{employment.company}</h2>
            <h3 class="font-thin text-sm">({employment.employmentType} - {employment.employmentRank})</h3>
        </div>
    </div>
    <div class="flex-shrink-0 flex flex-row items-center justify-between gap-4 pl-4">
        <div class=" flex flex-col items-end">
            <h2 class="font-semibold">{employment.duration}</h2>
            <h3 class="font-thin text-sm">{employment.period}</h3>
        </div>
    </div>
</div>
<Accordion variant='shadow' class="w-full">
    {roles && roles.map((role, index) => (
            <AccordionItem title={role.title}>
                <div class="flex flex-row items-center justify-between">

                    <div class="flex-shrink-0 font-thin">
                        {role.period}
                    </div>
                    <div class="flex-1 flex items-center px-8 hidden lg:inline">
                        MIDDLE
                    </div>
                    <div class="flex-shrink-0 flex flex-row items-center justify-between gap-4 pl-4">
                        {role.duration}
                    </div>

                </div>
                <p>{role.summary}</p>
            </AccordionItem>
    ))}
</Accordion>


<script>
    function updateAttributes() {
        const print = window.matchMedia("print").matches
        console.log(`print=${print}`)
        const elements = document.getElementsByTagName("details");
        for(const element of elements) {
            console.log(`assigning open=${print}`)
            if(print) {
                element.setAttribute("open", "");
            } else {
                element.removeAttribute("open");
            }
        }
    }

    // Listen for changes in media type
    window.matchMedia("print").addEventListener("change", updateAttributes);

    // Set on page load
    updateAttributes();
</script>
